SECRET_KEY="RANDOM_SECRET_KEY"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRY_IN_SECONDS=86400
SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://db_user:db_password@localhost/db_name"
ASYNC_SQLALCHEMY_DATABASE_URI="postgresql+asyncpg://db_user:db_password@localhost/db_name"
SUPERUSER_PHONE="+254700000000"
POSTGRES_USER="db_user"
POSTGRES_PASSWORD="db_password"
POSTGRES_SERVER="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="db_name"
REDIS_URL="redis://redis:6379"
HOST_PINNACLE_SENDER_ID=""
HOST_PINNACLE_PASSWORD=""
HOST_PINNACLE_USER_ID=""
HOST_PINNACLE_SMS_BASE_URL="https://smsportal.hostpinnacle.co.ke"
MOBI_TECH_API_KEY="xxxx"
MOBI_TECH_SMS_BASE_URL="https://api.mobitechtechnologies.com"
MOBI_TECH_SENDER_NAME="SOMERANDOMSENDER"
MPESA_BUSINESS_SHORT_CODE="MPESASHORTCODE"
MPESA_PASS_KEY="qwertsomerandommpesapasskey"
MPESA_TOKEN_URL="https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials"
MPESA_CONSUMER_KEY="bhusomerandommpesaconsumerkey"
MPESA_SECRET="RANDOMMPESASECRET"
MPESA_CALLBACK_URL="https://random.url.com/accounts/payments/callback/"
MPESA_B2C_SHORT_CODE="MPESASHORTCODE"
MPESA_B2C_CONSUMER_KEY="jensomereandomb2cconsumerkey"
MPESA_B2C_SECRET="SOMERANDOMMPESASECRET"
MPESA_B2C_URL="https://sandbox.safaricom.co.ke/mpesa/b2c/v1/paymentrequest"
MPESA_B2C_PASSWORD="someRandompSSword"
MPESA_B2C_INITIATOR_NAME="NAMEOFB2CINITIATOR"
MPESA_B2C_QUEUE_TIMEOUT_URL="https://random.domain.com/accounts/payments/timeout/"
MPESA_B2C_RESULT_URL="https://random.domain.com/accounts/payments/result/"
TOTP_EXPIRY_TIME=300
MAINTENANCE_MODE=0
BUSINESS_OPENS_AT="09:00"
BUSINESS_CLOSES_AT="16:00"