<footer class="align-items-md-end text-center bg-dark pt-4 text-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="text-white">Majibu</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <h5>Educate | Entertain | Earn</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <p>Copyright © Majibu (Beta) - All Rights Reserved | By RORO INNOVATIONS<br></p>
                <p>Email: <a href="mailto:support@majibu.co.ke">support@majibu.co.ke</a><br></p>
            </div>
        </div>
    </div>
</footer>