<nav class="navbar navbar-light navbar-expand-md grey lighten-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Majibu</a>
        <span class="badge bg-primary" id="version-badge">Beta</span>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1"></div>
    </div>
</nav>